@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: red;
}

body{
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 0;
    width: auto;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/autobustlo.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-blog, .header-about, .header-kontakt, .header-galeria, .header-CV {
    padding: 0;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/autobustlo.JPG);
    
    background-size: inherit;
}

.navbar {
    background: rgba(4, 3, 68, 0.1);
    padding: 1em;
    margin: 0;

        .logo {
            text-decoration: none;
            font-weight: 700;
            color: whitesmoke;
            font-size: 1.5em;

                span {
                    color: var(--primary-color);
                }
        }

        nav {
            display: none;
        }
        
        .container {
            display: flex;
            place-content: space-between;
        }
        
}
    
.mobile-menu {
    cursor: pointer;
    color: whitesmoke;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
} 

nav.menu-btn {
    display: flex;
    flex-direction: column;
    
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;
    display: block;
    
    
    

    ul .nav-links, .go-premium-cta {
        margin-top: 0;
        list-style: none;
        text-transform: uppercase;
        padding: 8px 12px;
        position: relative;  
        color: white;
    }

    li, .go-premium-cta {
        a {
        color: white;
        text-decoration: none;
        padding:  .5em;
        font-size: 1.3em;
        text-align: center;        
        }
    }
}

.nav-links, .go-premium-cta, .logo {
    
        
    ::after {
        content: '';
        width: 0%;
        height: 2px;
        background: var(--primary-color);
        display: block;
        margin: auto;
        transition: all 0.3s ease-in-out;                                     
    }
        
    &:hover{
        ::after{
            width: 100%;
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
    height: 20px;
    margin-left: auto;
}
 
#mobile-cta {
    filter: invert(100%);
}


.powitanie {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
        margin: 50px 0 50px;
    }

    .link-btn {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border: 4px solid var(--primary-color);
        border-radius: 5em;
        padding: 15px 35px;
        font-size: 17px;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        transition: 1s;
        margin-top: 20px;

        &:hover {
            color: black;
            background-color: rgba(255, 255, 255, 0.6);
            transition: 1s;
            
        }
    }
}



.about-container {
    margin: auto;
    padding: 3em;
    background:#dbdbdb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    
    .row {
        flex-direction: column;
    }
} 

.about {
    width: 90;
    margin: auto;
    text-align: center;
    padding-top:  100px;

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    p {
        color: black;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        padding: 10px;
    }

    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .about-column {
        flex-basis: 31%;
        background: rgb(226, 226, 226);
        border-radius: 2px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: 0.5s;

        &:hover {
            box-shadow: 0px 0px 6px rgba(163, 0, 0, 0.7); 
        }
    }

    h3 {
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
    }
} 

.articles {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

    h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
    
    
    .row {
        padding-top: 50px;
        display: block;

        .blog-col {
            
            border-radius: 10px;
            margin-bottom: 50px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
            }

            .layer {
                background: transparent;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &:hover {
                    background: rgba(70, 117, 247, 0.5);

                    h3 {
                        bottom: 49%;
                        opacity: 1;
                    }
                }
                
                h3 {
                    width: 100%;
                    font-weight: bold;
                    color: white;
                    font-size: 28px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    opacity: 0;
                    transition: 0.5s;                    
                }                
            }
        }
    }
}    




label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;

}

input, textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;

}


iframe #mapa {
    width: 80%;
    height: 150px;
}

.carousel-container {
    max-width: 600px;
    height: 400px;
    position: relative;
    margin: 8em auto;
    
  }
  
  .navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
  }
  .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
    font-weight: 700;
  }
  .navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation .nav-btn:hover {
    background: white;
  }
  
  .carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
   
  }
  .carousel img {
    width: 100%;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  

  
  .item {
    position: absolute;
    display: none;
  }
  
  .main {
    display: block;
  }


.blog-content {
    width: 75%;
    padding: 4em;
    background-color: rgb(226, 226, 226);
    margin: 3em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    img {
        float: left;
        margin-right: 1em;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 1em;
    }

    p {
        text-indent: 2em;
        line-height: 1.8em;
        margin: 1em;
    }
}



.reference {
        text-decoration: none;
        padding: 1em;
        text-decoration: none;
        color: black;

    

        a:hover {
            font-weight: bold;
        }
    }

}



.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }


@media only screen and (min-width:870px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;      
    }

    .navbar {
    
        nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: 3vh;
        width: 100%;
        padding: 0;


            ul {
                display: flex;  
                
            }

            a {
                display: block;
                color: whitesmoke;
                font-size: 1em;
                padding: .1em 1em;
                text-align: center;
            }


            li.go-premium-cta a {
                color: var(--primary-color);
                border: 3px solid var(--primary-color);
                font-weight: bold;
                border-radius: 5em;
                margin-top: -.2em;
                margin-left: .4em;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background: var(--primary-color);
                    color: white;
                    transition: all 0.4s ease-in-out;
                }
            }
        }
        
    }

    .powitanie {
        h1 {
            font-size: 60px;
        }

        h3 {
            font-size: 30px;
        }

        
    }

        
    

    .articles {

        h1{
            font-size: 50px;
        }
        p{
            font-size: 30px;
        }
        .row {
            display: flex;
            justify-content: space-between;

            .blog-col {
                flex-basis: 30%;
                cursor: pointer;
            }
        }
    }

    .contact-section {
        position: relative;
        padding-left: 3em;

        .container{
            display:  flex;
            justify-content: space-between;
        }
    }

    .contact-right {
        position: absolute;
        right: 1em;
        top: 5em;
        width: 45%;
        height: 70%;

        iframe {
            height: 100%;
        }
    }

    .CV .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 57%;
        
    
        #CV {
            
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
              
        }
    }

}




@media (min-width: 650px){

    .about {

        .row {
            flex-direction: row;
        }
    }
    
}
